<div class="footer__bottom">
    <div class="footer__bottom-container">
        <label class="footer__switch">
            <input type="checkbox" class="footer__switch-input">
            <span class="footer__switch-slider footer__switch-slider--round"></span>
        </label>
        <span class="footer__reduced-motion">Prefers reduced motion</span>
    </div>
    <div class="footer__copyright">
        ©2024 Mixpanel. All rights reserved
    </div>
    <div class="footer__links">
        <a class="footer__link" href="#">Legal</a>
        <span class="footer__separator">•</span>
        <a class="footer__link" href="#">Privacy Program</a>
        <span class="footer__separator">•</span>
        <a class="footer__link" href="#">Security</a>
        <span class="footer__separator">•</span>
        <a class="footer__link" href="#">Your Privacy Rights</a>
    </div>
</div>