

$primary-color: #1b0b3b;
$secondary-color: #8263ff;
$text-color-light: #ffffff;
$text-color-ligh-secondary: #b094ff;
$primary-color-btn: #8263ff;
$background-color: #f5f2f2;
$letter-color: #333;


$font-primary: Garnett, Helvetica, Segoe UI, Arial, sans-serif;




