<li class="menu-item--dropdown" role="menuitem">
    <a href="#" aria-haspopup="true" aria-expanded="false" tabindex="0">Platform2
        <i><img src="./assets/images/chevron.svg" alt="Chevron para Platform"></i>
    </a>
</li>
<li class="menu-item--dropdown" role="menuitem">
    <a href="#" aria-haspopup="true" aria-expanded="false" tabindex="0">Solutions
        <i><img src="./assets/images/chevron.svg" alt="Chevron para Solutions"></i>
    </a>
</li>
<li class="menu-item--dropdown" role="menuitem">
    <a href="#" aria-haspopup="true" aria-expanded="false" tabindex="0">Resources
        <i><img src="./assets/images/chevron.svg" alt="Chevron para Resources"></i>
    </a>
</li>

<!-- @for (item of menuItems(); track $index) {
<li class="menu-item--dropdown" role="menuitem">
    <a href="#" aria-haspopup="true" aria-expanded="false" tabindex="$index">{{item.getName()}}
        <i><img src="{{item.getPathImg()}}" alt="{{item.getAlt()}}"></i>
    </a>
</li>
} -->