<header>
    <nav class="navbar" role="navigation">
        <div class="navbar__container">

            <a class="navbar__logo" href="#" aria-label="Inicio">
                <img src="./assets/images/logo.svg" alt="Logo de la empresa">
            </a>

            <menu class="menu" role="menu">
                <li class="menu-item--dropdown" role="menuitem">
                    <a href="#" aria-haspopup="true" aria-expanded="false" tabindex="0">Platform2
                        <i><img src="./assets/images/chevron.svg" alt="Chevron para Platform"></i>
                    </a>
                </li>
                <li class="menu-item--dropdown" role="menuitem">
                    <a href="#" aria-haspopup="true" aria-expanded="false" tabindex="0">Solutions
                        <i><img src="./assets/images/chevron.svg" alt="Chevron para Solutions"></i>
                    </a>
                </li>
                <li class="menu-item--dropdown" role="menuitem">
                    <a href="#" aria-haspopup="true" aria-expanded="false" tabindex="0">Resources
                        <i><img src="./assets/images/chevron.svg" alt="Chevron para Resources"></i>
                    </a>
                </li> 

                <app-submenu></app-submenu>


                
                <a href="#">Pricing</a>
            </menu>
        </div>

        <div class="navbar__actions">
            <a class="button button--text" href="#" aria-label="Iniciar sesión">Login</a>
            <a class="button button--outline" href="#" aria-label="Contactar ventas">Contact Sales</a>
            <a class="button button--solid" href="#" aria-label="Empezar gratis">Get Started Free</a>
        </div>
    </nav>
</header>