@use '../ui/styles/variables.scss' as variables;
@use '../ui/styles/mixins.scss' as mixins;

.menu-item--dropdown {
  position: relative;
}

.menu-item--dropdown a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: variables.$letter-color;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 100%;
}

.menu-item--dropdown a:hover {
  background-color: #f0f0f0;
  color: #007bff;
}

.menu-item--dropdown i {
  margin-left: 8px;
}

.menu-item--dropdown a[aria-expanded='true'] i {
  transform: rotate(180deg);
}

img {
  width: 16px;
  height: 16px;
  object-fit: contain;
}
