<div class="main-product">
    <section class="section">
        <div class="section__content">
            <h2 class="section__title">Self-Serve Data</h2>
            <h3 class="section__subtitle">Get answers, fast</h3>
            <p class="section__text">Decisions are efficient when intuitive dashboards empower <span
                    class="text-active">everyone </span>to access <br>data, instantly—no SQL or analytics background
                required.
            </p>

            <button class="button button--primary">Get a Demo</button>
        </div>

        <div class="section__image">
            <video class="section__image-border" autoplay muted loop playsinline>
                <source src="./assets/video/dashboard-demo-opt-4k.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>

    </section>

    <section class="section">
        <div class="section__content">
            <h2 class="section__title">Session Replay</h2>
            <h3 class="section__subtitle">Unify your qualitative & <br>quantitative data</h3>
            <p class="section__text">With Session Replay, connect all your trusted business data with your product
                <br>data to
                understand the real impact on your marketing efforts, support, NPS, <br>billing, and more.
            </p>

            <button class="button button--primary">Learn More</button>
        </div>


        <div class="section__image">
            <video class="section__image-border" autoplay muted loop playsinline>
                <source src="./assets/video/session_video.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </section>

    <section class="section">
        <div class="section__content">
            <h2 class="section__title">Integrated Data</h2>
            <h3 class="section__subtitle">All your data, in one place</h3>
            <p class="section__text">Break down silos by unifying all your key metrics across <span
                    class="text-active">every team</span> into one,
                self-serve, platform.</p>
            <button class="button button--primary">View Integration</button>
        </div>
    </section>

    <section class="cards">

        <div class="card">
            <div class="card__icons">
                <img class="card__icon" src="./assets/images/icon-cards/icon.svg" alt="technology 1">
                <img class="card__icon" src="./assets/images/icon-cards/icon2.svg" alt="technology 2">
                <img class="card__icon" src="./assets/images/icon-cards/icon3.svg" alt="technology 3">
            </div>
            <h3 class="card__title">Data warehouse</h3>
            <p class="card__text">
                Get trusted data from your warehouse with our native connectors and democratize analysis on your
                source
                of
                truth for all teams.
            </p>
            <a href="#">Learn More <img class="card__icon" src="./assets/images/arrow-narrow-right.svg"></a>
        </div>

        <div class="card">
            <div class="card__icons">
                <img class="card__icon" src="./assets/images/icon-cards/icon4.svg" alt="technology 4">
                <img class="card__icon" src="./assets/images/icon-cards/icon5.svg" alt="technology 5">
                <img class="card__icon" src="./assets/images/icon-cards/icon6.svg" alt="technology 6">
            </div>
            <h3 class="card__title">SDK</h3>
            <p class="card__text">
                You can stream data directly from any digital product using a Mixpanel SDK. Our developer
                documentation
                will
                guide you in choosing the best option for your infrastructure.
            </p>
            <a href="#">Learn More <img class="card__icon" src="./assets/images/arrow-narrow-right.svg"></a>
        </div>

        <div class="card">
            <div class="card__icons">
                <img class="card__icon" src="./assets/images/icon-cards/icon7.svg" alt="technology 7">
                <img class="card__icon" src="./assets/images/icon-cards/icon8.svg" alt="technology 8">
                <img class="card__icon" src="./assets/images/icon-cards/icon9.svg" alt="technology 9">
            </div>
            <h3 class="card__title">CDP</h3>
            <p class="card__text">
                With tools like Segment, you can send data by flipping a switch. We partner with a growing number of
                CDPs to
                seamlessly integrate analytics into any tech stack.
            </p>
            <a href="#">Learn More <img src="./assets/images/arrow-narrow-right.svg"></a>
        </div>

    </section>

    <section class="section">
        <div class="section__content">
            <h2 class="section__title">Unified Data</h2>
            <h3 class="section__subtitle">Measure your impact</h3>
            <p class="section__text">Connect <span class="text-active">all your trusted business data</span> with
                your
                product data to understand the real
                impact on your marketing efforts.</p>
            <button class="button button--primary">Explore product</button>
        </div>

        <div class="section__image section__image--solid">
            <video class="section__image-border" autoplay muted loop playsinline>
                <source src="./assets/video/movi_product.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </section>

    <section class="section">
        <div class="section__content">
            <h2 class="section__subtitle">Stop guessing.</h2>
            <h3 class="section__subtitle">Start measuring.</h3>
            <p class="section__text">Join over <span class="text-active">20,000+ companies</span> who accelerated
                their
                growth with Mixpanel.</p>
            <button class="button button--primary">See Customer Stories</button>
        </div>
    </section>


    <div class="logos-carousel">
        <div class="logos-carousel__row-carousel">
            <div class="logos-carousel__container row-1">
                <div class="logos-carousel__logo-item"><span>meesho</span></div>
                <div class="logos-carousel__logo-item"><span>chewy</span></div>
                <div class="logos-carousel__logo-item"><span>RESY</span></div>
                <div class="logos-carousel__logo-item"><span>ticketmaster</span></div>
                <div class="logos-carousel__logo-item"><span>samsara</span></div>
                <div class="logos-carousel__logo-item"><span>-chargep</span></div>
                <div class="logos-carousel__logo-item"><span>meesho</span></div>
                <div class="logos-carousel__logo-item"><span>chewy</span></div>
                <div class="logos-carousel__logo-item"><span>RESY</span></div>
                <div class="logos-carousel__logo-item"><span>ticketmaster</span></div>
                <div class="logos-carousel__logo-item"><span>samsara</span></div>
                <div class="logos-carousel__logo-item"><span>-chargep</span></div>
            </div>
        </div>
        <div class="logos-row">
            <div class="logos-carousel__container row-2">
                <div class="logos-carousel__logo-item"><span>sweetgreen</span></div>
                <div class="logos-carousel__logo-item"><span>SKILL SHARE.</span></div>
                <div class="logos-carousel__logo-item"><span>chowbus</span></div>
                <div class="logos-carousel__logo-item"><span>deputy</span></div>
                <div class="logos-carousel__logo-item"><span>monday.com</span></div>
                <div class="logos-carousel__logo-item"><span>ONE</span></div>
                <div class="logos-carousel__logo-item"><span>sweetgreen</span></div>
                <div class="logos-carousel__logo-item"><span>SKILL SHARE.</span></div>
                <div class="logos-carousel__logo-item"><span>chowbus</span></div>
                <div class="logos-carousel__logo-item"><span>deputy</span></div>
                <div class="logos-carousel__logo-item"><span>monday.com</span></div>
                <div class="logos-carousel__logo-item"><span>ONE</span></div>
            </div>
        </div>
        <div class="logos-row">
            <div class="logos-carousel__container row-3">
                <div class="logos-carousel__logo-item"><span>Thumbtack</span></div>
                <div class="logos-carousel__logo-item"><span>Pinterest</span></div>
                <div class="logos-carousel__logo-item"><span>NETFLIX</span></div>
                <div class="logos-carousel__logo-item"><span>BuzzFeed</span></div>
                <div class="logos-carousel__logo-item"><span>FLOSPORTS</span></div>
                <div class="logos-carousel__logo-item"><span>DroneD</span></div>
                <div class="logos-carousel__logo-item"><span>Thumbtack</span></div>
                <div class="logos-carousel__logo-item"><span>Pinterest</span></div>
                <div class="logos-carousel__logo-item"><span>NETFLIX</span></div>
                <div class="logos-carousel__logo-item"><span>BuzzFeed</span></div>
                <div class="logos-carousel__logo-item"><span>FLOSPORTS</span></div>
                <div class="logos-carousel__logo-item"><span>DroneD</span></div>
            </div>
        </div>
    </div>

    <section class="scroll-section">
        <h1 class="scroll-section__title">It's okay to not have all the answers</h1>
        <div class="scroll-section__question-box">
            <p class="scroll-section__question-text" id="questionText">Who are my customers?</p>
        </div>
        <div class="scroll-section__blocker" id="scrollBlocker"></div>
    </section>


</div>