<header>
    <nav class="navbar" role="navigation">
        <div class="navbar__container">

            <a class="navbar__logo" href="#" aria-label="Inicio">
                <img src="./assets/images/logo.svg" alt="Logo de la empresa">
            </a>

            <menu class="menu" role="menu">

                <!-- <app-menu-item [menuItems]="menuItems"></app-menu-item> -->

                <!-- <app-submenu /> -->

                <li class="menu-item--dropdown" role="menuitem">
                    <a href="#" aria-haspopup="true" aria-expanded="false" tabindex="0">Platform2
                        <i><img src="./assets/images/chevron.svg" alt="Chevron para Platform"></i>
                    </a>
                </li>
                <li class="menu-item--dropdown" role="menuitem">
                    <a href="#" aria-haspopup="true" aria-expanded="false" tabindex="0">Solutions
                        <i><img src="./assets/images/chevron.svg" alt="Chevron para Solutions"></i>
                    </a>
                </li>
                <li class="menu-item--dropdown" role="menuitem">
                    <a href="#" aria-haspopup="true" aria-expanded="false" tabindex="0">Resources
                        <i><img src="./assets/images/chevron.svg" alt="Chevron para Resources"></i>
                    </a>
                </li>

                <div class="menu__submenu" aria-labelledby="submenu-platform">
                    <div class="menu__submenu-container">
                        <div class="menu__submenu-column">
                            <h4 class="menu__submenu-title">
                                <img src="./assets/images/icon-navbar/platform.svg" alt="Platform icon" role="img"
                                    aria-hidden="true" />
                                Platform
                            </h4>

                            <!-- <app-submenu-item [subItems]="submenuItems1" /> -->

                            <div class="menu__submenu-item">
                                <a href="#">Product Analytics <img src="./assets/images/icon-navbar/chevron-right.svg"
                                        alt="Navigate to Product Analytics" role="presentation" aria-hidden="true" />
                                </a>
                                <p>Measure & optimize products</p>
                            </div>

                            <div class="menu__submenu-item">
                                <a href="#" aria-label="Warehouse Connectors">
                                    Warehouse Connectors
                                    <img src="./assets/images/icon-navbar/chevron-right.svg" alt="Arrow pointing right"
                                        aria-hidden="true" />
                                </a>
                                <p>Sync trusted data</p>
                            </div>

                            <div class="menu__submenu-item">
                                <a href="#" aria-label="Session Replay">
                                    Session Replay
                                    <img src="./assets/images/icon-navbar/chevron-right.svg" alt="Arrow pointing right"
                                        aria-hidden="true" />
                                </a>
                                <p>Watch user journeys</p>
                            </div>

                            <div class="menu__submenu-item">
                                <a href="#" aria-label="Integrations">
                                    Integrations
                                    <img src="./assets/images/icon-navbar/chevron-right.svg" alt="Arrow pointing right"
                                        aria-hidden="true" />
                                </a>
                                <p>Connect the tools you love</p>
                            </div>

                            <div class="menu__submenu-item">
                                <a href="#" aria-label="Security and Privacy">
                                    Security & Privacy
                                    <img src="./assets/images/icon-navbar/chevron-right.svg" alt="Arrow pointing right"
                                        aria-hidden="true" />
                                </a>
                                <p>Protect customer data</p>
                            </div>

                        </div>

                        <div class="menu__submenu-column">
                            <h4 class="menu__submenu-title">
                                <img src="./assets/images/icon-navbar/usecase.svg" alt="Use Cases Icon"
                                    aria-hidden="true" />
                                Use Cases
                            </h4>

                            <div class="menu__submenu-item">
                                <a href="#" aria-label="Acquire New Users">
                                    Acquire New Users
                                    <img src="./assets/images/icon-navbar/chevron-right.svg" alt="Arrow pointing right"
                                        aria-hidden="true" />
                                </a>
                                <p>Boost marketing campaigns</p>
                            </div>

                            <div class="menu__submenu-item">
                                <a href="#" aria-label="Grow Your Users">
                                    Grow Your Users
                                    <img src="./assets/images/icon-navbar/chevron-right.svg" alt="Arrow pointing right"
                                        aria-hidden="true" />
                                </a>
                                <p>Engage & retain more users</p>
                            </div>
                        </div>


                        <div class="menu__submenu-column menu__submenu-column--last">
                            <span class="text-active" aria-label="New feature">New</span>
                            <h4>Watch how customers use your product</h4>

                            <div class="menu__submenu-item">
                                <a href="#" aria-label="View Session Replay details">
                                    Session Replay
                                    <img src="./assets/images/arrow-narrow-right-black.svg" alt="Arrow pointing right"
                                        aria-hidden="true" />
                                </a>
                            </div>

                            <img class="menu__submenu-image" src="./assets/images/img_nav001.webp"
                                alt="Screenshot of customer usage analytics dashboard" />
                        </div>

                    </div>
                </div>

                <div class="menu__submenu">
                    <div class="menu__submenu-container">
                        <div class="menu__submenu-column">

                            <h4 class="menu__submenu-title">
                                <img src="./assets/images/icon-navbar/teams.svg" alt="Icon representing teams">
                                Teams
                            </h4>

                            <div class="menu__submenu-item">
                                <a href="#" aria-label="View Product team details">
                                    Product
                                    <img src="./assets/images/icon-navbar/chevron-right.svg" alt="Arrow pointing right"
                                        aria-hidden="true" />
                                </a>
                            </div>

                            <div class="menu__submenu-item">
                                <a href="#" aria-label="View Data Analysts team details">
                                    Data Analysts
                                    <img src="./assets/images/icon-navbar/chevron-right.svg" alt="Arrow pointing right"
                                        aria-hidden="true" />
                                </a>
                            </div>


                            <div class="menu__submenu-item">
                                <a href="#" aria-label="View Marketing team details">
                                    Marketing
                                    <img src="./assets/images/icon-navbar/chevron-right.svg" alt="Arrow pointing right"
                                        aria-hidden="true" />
                                </a>
                            </div>

                            <div class="menu__submenu-item">
                                <a href="#" aria-label="View Engineering team details">
                                    Engineering
                                    <img src="./assets/images/icon-navbar/chevron-right.svg" alt="Arrow pointing right"
                                        aria-hidden="true" />
                                </a>
                            </div>

                        </div>

                        <section class="menu__submenu-column" aria-labelledby="industries-title">
                            <h4 id="industries-title" class="menu__submenu-title">
                                <img src="./assets/images/icon-navbar/industries.svg"
                                    alt="Icon representing industries">
                                Industries
                            </h4>

                            <nav>
                                <div class="menu__submenu-item">
                                    <a href="#" aria-label="Finance industry">
                                        Finance
                                        <img src="./assets/images/icon-navbar/chevron-right.svg" alt="Finance" />
                                    </a>
                                </div>

                                <div class="menu__submenu-item">
                                    <a href="#" aria-label="Media and entertainment industry">
                                        Media & Entertainment
                                        <img src="./assets/images/icon-navbar/chevron-right.svg"
                                            alt="Media & Entertainment" />
                                    </a>
                                </div>

                                <div class="menu__submenu-item">
                                    <a href="#" aria-label="B2B industry">
                                        B2B
                                        <img src="./assets/images/icon-navbar/chevron-right.svg" alt="B2B" />
                                    </a>
                                </div>

                                <div class="menu__submenu-item">
                                    <a href="#" aria-label="Ecommerce industry">
                                        Ecommerce
                                        <img src="./assets/images/icon-navbar/chevron-right.svg" alt="Ecommerce" />
                                    </a>
                                </div>

                                <div class="menu__submenu-item">
                                    <a href="#" aria-label="Healthcare industry">
                                        Healthcare
                                        <img src="./assets/images/icon-navbar/chevron-right.svg" alt="Healthcare" />
                                    </a>
                                </div>
                            </nav>
                        </section>


                        <div class="menu__submenu-column">
                            <h4 class="menu__submenu-title"><img src="./assets/images/icon-navbar/bussiness.svg" alt="Business
                Size">Business
                                Size</h4>

                            <div class="menu__submenu-item">
                                <a href="#">Enterprise <img src="./assets/images/icon-navbar/chevron-right.svg"
                                        alt="Enterprise" /></a>
                            </div>

                            <div class="menu__submenu-item">
                                <a href="#">Startups <img src="./assets/images/icon-navbar/chevron-right.svg"
                                        alt="Startups" /></a>
                            </div>
                        </div>

                        <div class="menu__submenu-column menu__submenu-column--last">
                            <h4 class="text-active">2025 State of Product Analytics</h4>
                            <p><b>Understand critical trends <br>Media & Entertainment</b></p>
                            <div class="menu__submenu-item">
                                <a href="#">Download Our Free Report <img
                                        src="./assets/images/arrow-narrow-right-black.svg"> </a>
                            </div>
                            <img class="menu__submenu-image" src="./assets/images/solution_nav.webp"
                                alt="Download Our Free Report">
                        </div>
                    </div>
                </div>

                <div class="menu__submenu">
                    <div class="menu__submenu-container">
                        <div class="menu__submenu-column">
                            <h4 class="menu__submenu-title">
                                <img src="./assets/images/icon-navbar/mixpanel.svg" alt=" Using Mixpanel">
                                Using Mixpanel
                            </h4>

                            <div class="menu__submenu-item">
                                <a href="#">Docs & Guides <img src="./assets/images/icon-navbar/chevron-right.svg"
                                        alt="Docs & Guides " /> </a>
                                <p>Getting started is easy</p>
                            </div>

                            <div class="menu__submenu-item">
                                <a href="#">Contact Support <img src="./assets/images/icon-navbar/chevron-right.svg"
                                        alt="Contact Support" /> </a>
                                <p>Access personalized help</p>
                            </div>

                            <div class="menu__submenu-item">
                                <a href="#">What's New <img src="./assets/images/icon-navbar/chevron-right.svg"
                                        alt="What's New " />
                                </a>
                                <p>See the latest product updates</p>
                            </div>
                        </div>

                        <div class="menu__submenu-column">
                            <h4 class="menu__submenu-title"><img src="./assets/images/icon-navbar/community.svg"
                                    alt="">Community</h4>

                            <div class="menu__submenu-item">
                                <a href="#">Blog <img src="./assets/images/icon-navbar/chevron-right.svg"
                                        alt="Explore growth strategies" /> </a>
                                <p>Explore growth strategies</p>
                            </div>

                            <div class="menu__submenu-item">
                                <a href="#">Events & Webinars <img src="./assets/images/icon-navbar/chevron-right.svg"
                                        alt="Events & Webinars" /> </a>
                                <p>Join us virtually and in person</p>
                            </div>

                            <div class="menu__submenu-item">
                                <a href="#">Community <img src="./assets/images/icon-navbar/chevron-right.svg"
                                        alt="Community" /> </a>
                                <p>Ask questions and learn</p>
                            </div>

                            <div class="menu__submenu-item">
                                <a href="#">Customer Stories <img src="./assets/images/icon-navbar/chevron-right.svg"
                                        alt="Customer Stories " /> </a>
                                <p>Impact in action</p>
                            </div>
                        </div>

                        <div class="menu__submenu-column">
                            <h4 class="menu__submenu-title">
                                <img src="./assets/images/icon-navbar/partnerships.svg" alt="Partnerships">
                                Partnerships
                            </h4>

                            <div class="menu__submenu-item">
                                <a href="#">Become a Partner <img src="./assets/images/icon-navbar/chevron-right.svg"
                                        alt="Become a Partner " /> </a>
                                <p>Partner and grow with us</p>
                            </div>

                            <div class="menu__submenu-item">
                                <a href="#">Hire an Expert <img src="./assets/images/icon-navbar/chevron-right.svg"
                                        alt="Hire an Expert " /> </a>
                                <p>Get advanced solution support</p>
                            </div>
                        </div>

                        <div class="menu__submenu-column menu__submenu-column--last">
                            <div class="background-red">
                                <h6 class="text-ligth "><span class="background-red-light">HOW TO BUILD</span></h6>
                                <h5 class="text-ligth"><b>Sprig’s Kevin Mandich on a decade of <br>building with ML
                                        and
                                        AI</b></h5>
                                <div class="menu__submenu-item">
                                    <a class="menu__submenu-item text-ligth" href="#">Read Article <img
                                            src="./assets/images/arrow_white.svg" alt="" /> </a>
                                </div>
                            </div>
                            <div class="background-green ">
                                <h5 class="text-ligth"><span class="background-green-light">BUILDERS</span></h5>
                                <h5 class="text-ligth"><b>Product Analytics and the data <br>warehouse: A long road
                                        to a
                                        perfect
                                        <br>pairing</b></h5>
                                <div class="menu__submenu-item">
                                    <a class="menu__submenu-item text-ligth" href="#">Read Article <img
                                            src="./assets/images/arrow_white.svg" alt="" /> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <a href="#">Pricing</a>
            </menu>
        </div>

        <div class="navbar__actions">
            <a class="button button--text" href="#" aria-label="Iniciar sesión">Login</a>
            <a class="button button--outline" href="#" aria-label="Contactar ventas">Contact Sales</a>
            <a class="button button--solid" href="#" aria-label="Empezar gratis">Get Started Free</a>
        </div>
    </nav>
</header>