<footer class="footer">
    <div class="footer__content">


        <app-footer-logo></app-footer-logo>

        <div class="footer__column">
            <h3 class="footer__heading">Platform</h3>
            <ul class="footer__list">
                <app-footer-column [items]="footerLinks"></app-footer-column>
            </ul>
            <h3 class="footer__heading">Use Cases</h3>
            <ul class="footer__list">
                <app-footer-column [items]="footerLinks2"></app-footer-column>
            </ul>
        </div>

        <div class="footer__column">
            <h3 class="footer__heading">Teams</h3>
            <ul class="footer__list">
                <app-footer-column [items]="footerLinks3"></app-footer-column>
            </ul>
            <h3 class="footer__heading">Industries</h3>
            <ul class="footer__list">
                <app-footer-column [items]="footerLinks4"></app-footer-column>
            </ul>
            <h3 class="footer__heading">Business Size</h3>
            <ul class="footer__list">
                <li><a class="footer__link" href="#">Enterprise</a></li>
            </ul>
        </div>

        <div class="footer__column">
            <h3 class="footer__heading">Resources</h3>
            <ul class="footer__list">
                <app-footer-column [items]="footerLinks5"></app-footer-column>
            </ul>
            <h3 class="footer__heading">Company</h3>
            <ul class="footer__list">
                <app-footer-column [items]="footerLinks6"></app-footer-column>
            </ul>
        </div>

        <div class="footer__column">
            <h3 class="footer__heading">Templates</h3>
            <ul class="footer__list">

                <app-footer-column [items]="footerLinks7"></app-footer-column>

            </ul>
            <h3 class="footer__heading">Compare Us</h3>
            <ul class="footer__list">

                <app-footer-column [items]="footerLinks8"></app-footer-column>

            </ul>
        </div>
    </div>

    <app-footer-bottom></app-footer-bottom>

</footer>